@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply mb-3 p-2 rounded shadow-sm hover:bg-opacity-75 focus:shadow-md transition duration-100 ease-in-out;
  }
  .input-box {
    @apply text-gray-800 w-full p-2 rounded outline outline-1 outline-blue-500 shadow-inner;
  }
}

.fade-scale-enter {
  opacity: 0;
  transform: scale(0.8);
}

.fade-scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 100ms ease-out, transform 100ms ease-out;
}

.fade-scale-exit {
  opacity: 1;
  transform: scale(0.8);
}

.fade-scale-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 100ms ease-out, transform 100ms ease-out;
}
